* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(62, 62, 62);
  color: #f6f6f6;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  padding: 1.5rem 3rem 15rem;
  max-width: 80rem;
  margin: 0 auto 7rem;
  border-bottom: 3px solid #f6f6f6;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 9rem;
}

.title {
  flex-basis: 100%;
  text-align: center;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .label {
  font-size: 1.5rem;
}

.secret-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 3.5rem);
  width: 7rem;
  height: 7rem;
  border: 1px solid #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  background: #fafafa;
  color: black;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25%;
}

main.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
}

main.container > div {
  margin: 0 auto;
  text-align: center;
}

.action-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.secret-number-input {
  font-family: inherit;
  font-size: 2.5rem;
}

.result-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 1rem;
}

.info-label {
  font-size: 2rem;
}

.score-label {
  font-size: 1.5rem;
}

.high-score-label {
  font-size: 1.5rem;
}

/* UTILS */

button {
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.8rem;
}

input {
  width: 10rem;
  height: 4rem;
  padding: 0.5rem 0.75rem;
  outline: none;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 4px;
}
